<ul>
    <li><img src="/assets/icon/home3.jpg" class="img">ホーム</li>
    <li><img src="/assets/icon/hash.jpg" class="img">話題を検索</li>
    <li><img src="/assets/icon/notification.jpg" class="img">通知</li>
    <li><img src="/assets/icon/message.jpg" class="img">メッセージ</li>
    <li><img src="/assets/icon/bookmark.jpg" class="img">ブックマーク</li>
    <li><img src="/assets/icon/list.jpg" class="img">リスト</li>
    <li><img src="/assets/icon/profile.jpg" class="img">プロフィール</li>
    <li><img src="/assets//icon/more.jpg" class="img">もっと見る</li>
    <li class="btn"><%= link_to 'ツイートする', '/tweets/new' %></li>
</ul>