#container {
}

#header {
    padding: 0 180px;
    height: 80px;
    overflow: hidden;
}

#sidebar {
    width: 180px;
    height: auto;
    float: left;
}

#content {
    padding: 0 250px;
    width: 720px;
    min-height: 500px;
    height: auto;
    margin-top: 10px;
}

#footer {
    border-top: solid 1px #CCCCCC;
    clear: both;
    text-align: center;
}

ul {
    list-style: none;
}

nav ul {
    
}

ul li {
    
}

nav li {
    width: 130px;
    text-align: center;
    float: left;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    
}

.btn {
    background-color: #00BFFF;
    width: 120px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.img {
    width: 30px;
    height: 25px;
    bottom: 0;
    vertical-align: middle;
}